
<nav id="nav" class="nav">
    <a class="nav_link" href="index.php?class=page&method=index">Главная</a> 
    <a class="nav_link" href="index.php?class=page&method=catalog">Каталог</a>
    <a class="nav_link" href="index.php?class=page&method=feedbacks">Отзывы</a>
    <a class="nav_link" href="index.php?class=page&method=delivery">Доставка</a>
    <a class="nav_link" href="index.php?class=page&method=payment">Оплата</a>
    <a class="nav_link" href="index.php?class=page&method=contacts">Контакты</a>
</nav>